/* By Maddison Burr
  * School coding project for portfolio  
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Style the header section */
#header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
}

/* Style the navigation */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

.teal {
    color: #008080;
}

p {
    line-height: 1.4;
}

/* Style images and image captions */
figure {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 450px;
    height: auto;
}

figcaption {
    color: #777;
    font-size: 0.8em;
}

/* Style links */
a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style the contact information */
aside {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.no-dots {
    list-style: none;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media query for responsive design */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}
